<div class="sidebar-nav">
  <div class="roundabout-size">
    <ul id='my-roundabout' style="top:170px; width:300px;">
      <li>
        <div class="wrapper">
          <img src="/assets/carousel/usg.png">
        </div>
      </li>
      <li>
        <div class="wrapper">
          <img src="/assets/carousel/cocina.png">
        </div>
      </li>
      <li>
        <div class="wrapper">
          <img src="/assets/carousel/comedor.png">
        </div>
      </li>
      <li>
        <div class="wrapper">
          <img src="/assets/carousel/mt.png">
        </div>
      </li>
      <li>
        <div class="wrapper">
          <img src="/assets/carousel/comedor.jpg">
        </div>
      </li>
    </ul>
  </div>
  <div class="clientes">
    <%= link_to image_tag('clients.png'),{:action => 'index', :controller => 'clients'} %>
  </div>
  <div class="productos">
    <%= link_to image_tag('products.png'),{:action => 'index', :controller => 'products'} %>
  </div>
  <div class="proveedores">
    <%= link_to image_tag('suppliers.png'),{:action => 'index', :controller => 'suppliers'} %>
  </div>
  <div class="ventas">
    <%= link_to image_tag('sales.png'),{:action => 'index', :controller => 'orders'} %>
  </div>
</div>

<div id="slider-code">
  <a class="buttons prev" href="#">left</a>
  <div class="viewport">
    <ul class="overview">
      <li><img src="/assets/tiny/picture4.png" /></li>
      <li><img src="/assets/tiny/picture3.png" /></li>
      <li><img src="/assets/tiny/picture2.png" /></li>
      <li><img src="/assets/tiny/picture1.png" /></li>
    </ul>
  </div>
  <a class="buttons next" href="#">right</a>
</div>