<div class="sidebar-nav">
  <div class="roundabout-size">
    <ul id='my-roundabout' style="top:170px; width:300px;">
      <li>
        <div class="wrapper">
          <img src="/assets/carousel/usg.jpg">
        </div>
      </li>
      <li>
        <div class="wrapper">
          <img src="/assets/carousel/cocina.jpg">
        </div>
      </li>
      <li>
        <div class="wrapper">
          <img src="/assets/carousel/comedor.jpg">
        </div>
      </li>
      <li>
        <div class="wrapper">
          <img src="/assets/carousel/mt.jpg">
        </div>
      </li>
      <li>
        <div class="wrapper">
          <img src="/assets/carousel/comedor.jpg">
        </div>
      </li>
    </ul>
  </div>
  <div class="clientes">
    <%= link_to image_tag('clientes.png'),{:action => 'index', :controller => 'clients'} %>
    <%= link_to image_tag('productos.png'),{:action => 'index', :controller => 'products'} %>
    <%= link_to image_tag('proveedores.png'), "/path3" %>
    <%= link_to image_tag('ventas.png'),"/path4" %>
  </div>
</div>
