<div class="sidebar-nav">
  <h2 class="title">Bienvenidos</h2>
  <div>
    <ul id='my-roundabout' style="width:300px">
      <li style="width: 337px; height: 352px;">
        <div class="wrapper">
          <h2>I’m a Roundabout!</h2>
          <h3>Try Me Out.</h3>
          <p>
            ← &nbsp;&nbsp;Click a box in the back.&nbsp;&nbsp; →
          </p>
        </div>
      </li>
      <li style="width: 337px; height: 352px;">
        <div class="wrapper">
          <h2>Insane! :-O!</h2>
          <h3>Amazing, eh?</h3>
          <p>
            Keep clicking.
          </p>
        </div>
      </li>
      <li style="width: 337px; height: 352px;">
        <div class="wrapper">
          <h2>Try This:</h2>
          <h3>Click &amp; Drag Left/Right</h3>
          <p>
            And prepare to be amazed.
          </p>
        </div>
      </li>
      <li style="width: 337px; height: 352px;">
        <div class="wrapper">
          <h2>And Yes,</h2>
          <h3>It Works With Images</h3>
          <p>
            <img src="/img/projects/roundabout/bg/img-example.png" alt="High Five!">
          </p>
        </div>
      </li>
      <li style="width: 337px; height: 352px;">
        <div class="wrapper">
          <h2>Whoa! :-O!</h2>
          <h3>Awesome, right?</h3>
          <p>
            Keep clicking.
          </p>
        </div>
      </li>
    </ul>
    <a href="#" class="next">Next</a>
  </div>
  <div class="clientes">
    <%= link_to image_tag('clientes.png'),{:action => 'index', :controller => 'clients'} %>
    <%= link_to image_tag('productos.png'),{:action => 'index', :controller => 'products'} %>
    <%= link_to image_tag('proveedores.png'), "/path3" %>
    <%= link_to image_tag('ventas.png'),"/path4" %>
  </div>
</div>
