<h4>Productos</h4>

<table id="products" class="display">
  <thead>
    <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Unidad</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
        <tr>
            <td><%= product.name %></td>
            <td><%= product.description %></td>
            <td><%= product.price %></td>
            <td><%= product.unit_mesure %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br />
